.App {
  min-height: 100vh;
  background-color: #1b1b1b;
  color: white;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .App {
    padding: 25px 15px;
  }
}

@media (max-width: 576px) {
  .App {
    padding: 15px;
  }
}